.page-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2.5rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.page-header-info {
  h1 {
    color: var(--foreground);
    font-size: 2.25rem; // 36px
    font-weight: 700;
    margin-bottom: 0.25rem;
  }
  p {
    color: var(--muted-foreground);
    font-size: 1rem; // 16px
  }
}

.page-header-actions {
  a {
    text-decoration: none;
  }

  // Sobrescreve o width: 100% do AuthButton
  // para que ele se ajuste ao conteúdo
  .auth-button {
    width: auto;
    padding: 0 1.5rem;
  }
}